---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Ejercicio de ejemplo.">
	<main>
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>Document</title>
			<link rel="stylesheet" href="style.css">
		</head>
		<body>
			<header class="header"> 
				<div class="logo">
                    <img src='xbox41.png'>
                </div>
				<nav class="navbar">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Plataformas</a></li>
						<li><a href="#">Productos</a></li>
					</ul>
				</nav>
                <div class="buttons4">
                    <a href="#" class="btn-4">Contactanos</a>
                </div>
            </header>
			<div class="header-content container">
				<div class="header-txt" >
					<span>Lorem ipsum dolor sit amet</span>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sed quam maiores vel veniam ab quasi eius. Adipisci necessitatibus error illo architecto!
					</p>
					<div class="button-container">
						<a href="#" class="btn-get-started">Get Started</a>
					</div>
				</div>
				<div class="header-img">
					<img src='cel1.png'>
				</div>
			</div>
			<main class="products container">
		
				<h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, ipsa atque provident suscipit, delectus, deserunt eligendi aspernatur ad perspiciatis placeat harum amet ratione. Necessitatibus ratione, in officiis delectus sit optio!</p>
			  
				<div class="box-container" id="list-1">
				
					<div class="box">
						<img src="iphone15.png">
						<div class="product-txt">
							<h3>Iphone 15</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti architecto nesciunt, qui quam impedit</p>	
						</div>
					</div>
					<div class="box">
						<img src="shopping.png">
						<div class="product-txt">
							<h3>Shopping</h3>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi tenetur necessitatibus beatae neque nulla possimus, iure facilis aspernatur, modi praesentium, debitis corporis quisquam molestias veniam blanditiis magnam excepturi dolore porro.</p>
						</div>
					</div>
					<div class="box">
						<img src="shopping.png">
						<div class="product-txt">
							<h3>Shopping</h3>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi ea eos impedit rem, harum sunt iure molestiae sequi ipsum hic libero accusamus accusantium illum officiis distinctio nemo blanditiis tempora laudantium.</p>
						</div>
					</div>
				</div>
			</main>
			<div class="second-container">
				<div class="cont-img">
					<img src="Group61.png" class="imag61">
				</div>
				<div class="header-txt2" >
					<h1>Lorem ipsum dolor sit amet?</h1>
					<span>Lorem ipsum dolor sit amet</span>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sed quam maiores vel veniam ab quasi eius. Adipisci necessitatibus error illo architecto!
					</p>
					<span>Lorem ipsum dolor sit amet</span>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sed quam maiores vel veniam ab quasi eius. Adipisci necessitatibus error illo architecto!
					</p>
					<span>Lorem ipsum dolor sit amet</span>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sed quam maiores vel veniam ab quasi eius. Adipisci necessitatibus error illo architecto!
					</p>
					<div class="button-container">
						<a href="#" class="btn-get-started">Contact</a>
					</div>
				</div>
			</div>
			<section class="Testimonial container">
				<span>Testimonial</span>
					<h2>Que opinan nuestros clientes</h2>
					<div class="Testimonial-content">
						<div class="testimonial-1">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
								Reprehenderit quidem aut, nam, obcaecati veniam cupiditate 
								consectetur illum, repudiandae necessitatibus tempore similique 
								et dolores officiis excepturi? 
								A delectus excepturi optio sequi.
							</p>
							<img src="images/starts.png" alt="">
							<h4>Lorem impsum</h4>
						</div>
						<div class="testimonial-1">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
								Reprehenderit quidem aut, nam, obcaecati veniam cupiditate 
								consectetur illum, repudiandae necessitatibus tempore similique 
								et dolores officiis excepturi? 
								A delectus excepturi optio sequi.
							</p>
							<img src="images/starts.png" alt="">
							<h4>Lorem impsum</h4>
						</div>
					</div>
			</section>
			<footer class="footer">
				<div class="footer-content container">
					<div class="link">
						<h3>Lorem</h3>
						<ul>
							<li><a href="#">lorem</a></li>
							<li><a href="#">lorem</a></li>
							<li><a href="#">lorem</a></li>
							<li><a href="#">lorem</a></li>
						</ul>
					</div>
					<div class="link">
						<h3>Lorem</h3>
						<ul>
							<li><a href="#">lorem</a></li>
							<li><a href="#">lorem</a></li>
							<li><a href="#">lorem</a></li>
							<li><a href="#">lorem</a></li>
						</ul>
					</div>
					<div class="link">
						<h3>Lorem</h3>
						<ul>
							<li><a href="#">lorem</a></li>
							<li><a href="#">lorem</a></li>
							<li><a href="#">lorem</a></li>
							<li><a href="#">lorem</a></li>
						</ul>
					</div>
				</div>
			</footer>
		</body>
	</main>
</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
 margin: 2;
 margin-left: 2px;
 margin-right: 2px;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}
.header .logo{
    cursor: pointer;
}
.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform:  scale(1.2);
}
.header .navbar ul li{
    display: inline-block;
    padding: 0 20px;
}
.header .navbar li:hover{
    transform: scale(1.1);
}
.header .navbar a{
    font-size: 700;
    color:#000000;
    text-decoration: none;
}
.header .navbar li a:hover{
    color: #007706;
}
img{
    max-width: 100%;
}
.imag61{
	margin-left: 55px;
	width: 650px;
	height: 650px;
}
.header-content{
	margin-left: 55px;
	margin-right: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	text-align: justify;
}

.second-container{
	display: flex;
    justify-content: space-between;
    align-items: center;
	text-align: justify;
}
.header-txt2{
	flex-basis: 50%;
    margin-right: 25px;
}

.header-txt{
    flex-basis: 50%;
    margin-right: 25px;
}

span {
    /* color: #188103; */
    /* color: #111419; */
    font-size: 17px;
    font-weight: 600;
    display: block;
    margin-bottom: 25px;
}

.header-txt h1{
    font-size: 70px;
    text-transform: capitalize;
    line-height: 1;
    color: #111419;
    margin-bottom: 35px;
}

.header-txt p {
    font-size: 17px;
    color: #515557;
    margin-bottom: 35px;
}
.button-container {
    text-align: center;
}

.btn-get-started {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #027f1f;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-get-started:hover {
    background-color: #027f1f;
    transform: scale(1.05);
}

.buttons{
    display: flex;
}

.buttons4{
	display: flex;
}

.btn-1{
    display: inline-block;
    padding: 13px 25px;
    background-color: #188103;
    margin-right: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 100px;
}

.btn-4{
    font-weight: 700;
    padding: 9px 25px;
    background-color: #007706;
	color:#f8f8f8;
	border-radius: 50px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.header .btn-4:hover{
   transform: scale(1.1); 
}
.header-img{
    flex-basis: 50%;
    text-align: center;
}

.header-img img{
    height: 550px;
}
.oferts {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.offert-1{
    flex-basis: calc(33.3% - 20px);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b1 {
    background-color: #13462e;
}
.b2{
    background-color: #13462e;
}
.b3{
    background-color: #13462e;
}

.offert-txt {
    flex-basis: 50%;
}
.offert-txt h3{
    color: #ffffff;
    font-size: 20px;
}
.offert-txt a{
    color: #ffffff;
}
.offert-img{
    flex-basis: 50%;;
}
.products{
padding: 0 0 50px 0;
text-align: center;
}
.h2{
    font-size: 40px;
    color: #111419;
}
.box-container{
 	margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #e8ebeb;
    display: none;
	
}
.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3)
{
    display: inline-block;
}

.box img{
    height: 200px;
}
 .product-txt h3{
    font-size: 20px;
    color: #111419;
    margin-bottom: 10;
 }

 .product-txt p{
    margin-bottom: 25px;
    color: #515557;
 }

.precio{
    font-size: 17px;
    font-weight: 700;
    color: #166602 !important;
}

.btn-2, .btn-3{
    background-color: #188103;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 25px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-2:hover, .btn-3:hover, .btn-1:hover{
    background-color: #13462e;
}

.btn-3{
    margin: 0;
    padding: 8px 25px;
    border-radius: 5px;
}

.Testimonial{
    padding: 100px 0;
    text-align: center;
}
.Testimonial-content{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.testimonial-1{
    flex-basis: calc(50% - 20px);
    padding: 50px;
    text-align: left;
    background-color: #f6fafb;
    border-top: 5px solid #166602;
}

.testimonial-1 img{
    width: 100px;
}

.testimonial-1 h4{
    font-size: 17px;
    color: #111419;
}

.testimonial-1 p{
    color: #515557;
    margin-bottom: 25px;
}

.footer{
    background-color: #13462e;
    padding: 100px 0;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.link h3{
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 15px;
}
.link a{
    color: #b8b5bb76;
}
.link a:hover{
    color: #188552;
}

@media (max-width:991px){
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #13462e;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .logo{
        display: none;
    }
    .menu .navbar ul li a:hover{
        color: #ffffff;
    }

    .submenu:hover #carrito{
        width: 100%;
    }

    .header{
        padding: 50px 0 0 0;
    }
    .header-content{
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }
    .header-txt{
        margin-right: 0;
    }
    .buttons{
        justify-content: center;
    }
    .btn-1{
        margin-bottom: 0;
    }
    .header-img{
        display: none;
    }
    .oferts{
        padding: 30px;
        flex-direction: column;
    }
    .offert-1{
        margin-bottom: 15px;
    }
    .products{
        padding: 0 30px 30px 30px;
    }
    .Testimonial{
        padding: 30px;
    }
    .Testimonial-content{
        margin-top: 20px;
        flex-direction: column;
    }
    .testimonial-1{
        padding: 25px;
        margin-bottom: 25px
    }
    .footer{
        padding: 30px;
    }
    .footer-content{
        flex-direction: column;
        text-align: center;
    }
}
</style>
